<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Dia1_Ex11.DIa1_Ex11">
	<uses-sdk />
	<application android:label="Dia1-Ex11">
	</application>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>