<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBLib.Properties.Settings.BancoLocalConnectionString" connectionString="Data Source=|DataDirectory|\BancoLocal.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
